<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PDF FILE</title>
</head>
<body>
    <h2>{{userProfile.name}} </h2>
    <h2>{{userProfile.email}} </h2>
    <h2>{{userProfile.phone}} </h2>
    <hr>
    <br>
    <p>summary</p>
    <p>
        {{userProfile.summary}}
    </p>

    <p>Education</p>
    <ul>
        <li>{{userProfile.school}}</li>
        <li>{{userProfile.university}}</li>
    </ul>
</body>
</html>